@{
    ViewData["Title"] = "acces_appointment";
}

<h1>Randevu iptal edildi.</h1>


<form>
    <button asp-controller="Home" asp-action="Index" type="submit" class="btn btn-primary" style="width:150px">Ana sayfaya dön</button>
</form>

