@model KuaforApp.Models.User

@{
    ViewData["Title"] = "Appoinmets";
}

<form>
    <button asp-controller="Appointments" asp-action="userAppointments" type="submit" class="btn btn-primary" style="width:150px">Randevularım</button>
</form>








